body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color: #0056b3;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .navbar li.active {
    background-color: #004080;
    border-radius: 5px;
  }
  
  .content {
    padding: 20px;
  }
  
  .competitions-list {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .list h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .item {
    margin-bottom: 15px;
  }
  
  .item h3 {
    margin: 0;
    color: #0056b3;
  }
  
  .competition-item p {
    margin: 5px 0 0 0;
    color: #666;
  }
  